<h1>Home Page</h1>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th><b>DD-MM-YYY</b></th>
          <th>counterpartyName</th>
          <th>Payment type</th>
          <th>Amount</th>
          <th></th>
       </tr>
    </thead>

    <tbody>
       {{#each model as |transactions|}}
       transaction:{{transaction.counterparty_name}} /
       {{transaction.counterparty_name}}
       <tr>
         <!-- {{#transactions-item item=transaction}}-->
         <td>{{transaction.created_at}}</td>
         <td>{{transaction.counterparty_name}}</td>
         <td>{{transaction.operation_type}}</td>
         <td>{{transaction.debit}}</td>
         <td>{{transaction.amount}}{{transaction.currency}}</td>
         <!-- {{/transactions-item}} -->
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
