<h1>Home Page</h1>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th><b>DD-MM-YYY</b></th>
          <th>counterpartyName</th>
          <th>Payment type</th>
          <th>Amount</th>
          <th><span class="glyphicon glyphicon-paperclip"></span></th>
       </tr>
    </thead>

    <tbody>
       {{#each model as |transactions|}}
       <tr>
         <td>{{transactions.created_at}}</td>
         <td>{{transactions.counterparty_name}}</td>
         <td>{{transactions.operation_type}}</td>
         <td>{{transactions.signe}}{{transactions.amount}} {{transactions.currency}}<!--span class="glyphicon {{transactions.currencySymbol}}"></span-->
            {{#if transactions.up}}<span class="glyphicon glyphicon glyphicon-triangle-top" style="color:lightblue"></span>{{/if}}
            {{#if transactions.down}}<span class="glyphicon glyphicon glyphicon-triangle-bottom"  style="color:red"></span>{{/if}}
         </td>
         <td>
           <a href="{{transactions.url}}"><span class="glyphicon glyphicon-paperclip"></span></a>
           {{transactions.size}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
