<h1>Home Page</h1>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th><b>DD-MM-YYY</b></th>
          <th>counterpartyName</th>
          <th>Payment type</th>
          <th>Amount</th>
          <th></th>
       </tr>
    </thead>

    <tbody>
       {{#each model as |transactions|}}
       <tr>
         <td>{{transactions.created_at}}</td>
         <td>{{transactions.counterparty_name}}</td>
         <td>{{transactions.operation_type}}</td>
         <td>{{transactions.debit}}</td>
         <td>{{transactions.amount}}{{transaction.currency}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
